footer
  div
    div(class="fb-like" data-href=(proj_url + url) data-width="" data-layout="" data-action="" data-size="" data-share="true")
  div #{proj_name} &copy; #{copy} 
    a(href="https://www.linkedin.com/in/markopavan/", target="_blank", rel="noopener noreferrer") #{owner}
    em &dash;
    a(href="/privacy") Privacy 