extends layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content="")
  meta(name="keywords" content="")
  meta(name="robots" content="")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content="")
  meta(name="og:type" content="")
  meta(name="og:title" content="")
  meta(name="og:site_name" content="")
  meta(name="og:description" content="")
  meta(name="og:image" content="")

block main
  <section class="esercizio" id="es-1">
    <h2>Esercizio 1 - Caricare un modulo esterno (ES6 module)</h2>
  </section>
  <section class="esercizio" id="es-2">
    <h2>Esercizio 2 - DOM traversal ed eventi</h2>
    <a href="#" id="eventi-js">Premi qui per cambiare la classe del mio wrapper</a>
  </section>
  <section class="esercizio" id="es-3">
    <h2>Esercizio 3 - Closure</h2>
  </section>
  <section class="esercizio" id="es-4">
    <h2>Esercizio 4 - Fetch di risorse remote</h2>
    <a href="#" id="fetch-js">Premi qui per ottenere dei dati</a>
  </section>
  <section class="esercizio" id="es-5">
    <h2>Esercizio 5 - Promise, Async/Await</h2>
  </section>
