-
  let proj_name = 'zero-project.net'
  let proj_url = 'https://www.zero-project.net'
  let copy = 2022
  let owner = 'Marco Pavan'
  let fbAppId = '#'
  let googleSiteVerification = '#'

doctype html
html
  head
    block meta 
      meta(charset="utf-8")
      meta(name="google-site-verification" content=googleSiteVerification)
      meta(property="fb:app_id" content=fbAppId)
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      meta(name="author" content=owner)
    link(rel="shortcut icon", href="/public/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", type="text/css", href="/styles/style.css")
  body
    block body
      include ../components/shared/header/header.pug
      main
      include ../components/shared/footer/footer.pug
      include ../components/shared/cookie_layer/cookie_layer.pug
      include ../components/shared/goto_top/goto_top.pug
      script(src='/scripts/script.js', type='module')
