#cookie_layer {
  display: none;
  color: var(--white);
  background-color: var(--darker-gray);
  padding: var(--small-space);
  line-height: 1.3rem;
  border-top: 1px solid var(--black);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
#cookie_layer.active {
  display: block;
}

#cookie_layer div {
  display: flex;
  justify-content: space-evenly;
}