#main-logo {
  font-size: var(--font-size-huge);
  font-weight: 500;
}

#main-logo img {
  height: 4rem;
  width: auto;
  margin-right: var(--normal-space);
  vertical-align: text-bottom;
  border-radius: 50%;
}

#main-logo span {
  display: inline-block;
}

#main-logo small {
  display: block;
  font-weight: 500;
  font-style: italic;
}
