#main-logo {
  font-size: var(--font-size-huge);
  font-weight: 500;
  padding: var(--small-space) 0;
}

#main-logo img {
  height: var(--large-space);
  margin-right: var(--xx-small-space);
  vertical-align: middle;
}
