#dtable table {
  width: 100%;
}

/* #dtable caption {
  margin: var(--x-small-space) 0;
  text-align: left;
} */

#dtable th, #dtable td {
  padding: var(--x-small-space) 0;
  text-align: left;
  vertical-align: middle;
}

#dtable td {
  max-width: 12rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#dtable tbody tr:hover {
  background-color: var(--gray);
  color: var(--white);
}

#dtable thead {
  border-bottom: 1px solid var(--gray);
  font-weight: 500;
}

#dtable tr img {
  width: var(--large-space);
}

#pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--gray);
  padding-top: var(--normal-space);
  margin-top: var(--normal-space);
  font-size: var(--font-size-small)
}
#dtable th {
  cursor: pointer;
}
#dtable th::before {
  content: '\26DB';
  transform: rotate(-90deg);
  display: inline-block;
  color: var(--light-gray)
}
#dtable th[data-order=desc]::before {
  transform: rotate(0deg);
  color: var(--black)
}
#dtable th[data-order=asc]::before {
  transform: rotate(-180deg);
  color: var(--black)
}

#pagination span {
  font-weight: 500;
}
#pagination ul {
  display: flex;
}
#pagination li {
  /*border: 1px solid var(--darker-gray);
  border-radius: var(--border-radius-round);
  padding: var(--xx-small-space);
  width: var(--normal-space);
  height: var(--normal-space);
  display: flex;
  justify-content: center;
  align-items: flex-end;*/
  margin: 0 var(--x-small-space);
  cursor: pointer;
}
#pagination li:hover, #pagination li.active {
  text-decoration: underline;
}

#filter {
  margin: var(--small-space) 0;
  /*background-color: var(--darker-gray);
  color: var(--white);*/
}