div(id="dtable")
  div(id="filter") Search: 
    input(type="text")
  table
    //- caption Users table
    thead 
      //- APIRELATED
      th(data-sortby="id") id
      th(data-sortby="player1.name") P1 Name
      th(data-sortby="player2.name") P2 Name
      th(data-sortby="score") Score
      th(data-sortby="tournament.name") Tournament
      th(data-sortby="tournament.value") Tournament Value
      th(data-sortby="surface") Surface
      th(data-sortby="createdAt") Date
      //- APIRELATED
    tbody
  div(id="pagination")
    div Page #[span(id="page")] of #[span(id="pages")] pages 
    ul
    div Showing #[span(id="partial")] of #[span(id="total")] results
    