div(id="dtable")
  div(id="filter") Search: 
    input(type="text")
  table
    //- caption Users table
    thead 
      th(data-sortby="id") id
      th(data-sortby="name") Name
      th(data-sortby="surname") Surname
      th(data-sortby="age") Age
      th(data-sortby="email") Email
      th(data-sortby="createdAt") Date
    tbody
  div(id="pagination")
    div Page #[span(id="page")] of #[span(id="pages")] pages 
    ul
    div Showing #[span(id="partial")] of #[span(id="total")] results
    