#dtable table {
  width: 100%;
}

/* #dtable caption {
  margin: var(--x-small-space) 0;
  text-align: left;
} */

#dtable thead {
  border-bottom: 1px solid var(--gray);
  font-weight: 500;
}

#dtable th, #dtable td {
  padding: 2px var(--x-small-space);
  text-align: left;
}

/*#dtable td {
  max-width: 5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/

#dtable tbody tr:hover {
  background-color: var(--gray);
  color: var(--white);
}

/* #dtable tr img {
  width: var(--large-space);
} */

#dtable th {
  cursor: pointer;
}
#dtable th::before {
  content: '\26DB';
  transform: rotate(-90deg);
  display: inline-block;
  color: var(--light-gray)
}
#dtable th[data-order=desc]::before {
  transform: rotate(0deg);
  color: var(--primary)
}
#dtable th[data-order=asc]::before {
  transform: rotate(-180deg);
  color: var(--primary)
}

#dtable th input {
  border: 1px solid var(--gray);
  background-color: var(--secondary);
  margin-left: var(--x-small-space);
  margin-top: var(--gap);
  width: 5rem;
  font-size: var(--font-size-very-small);
  color: var(--primary);
  outline: none;
  font-style: italic;
}

#pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--gray);
  padding-top: var(--normal-space);
  margin-top: var(--normal-space);
  font-size: var(--font-size-small)
}
#pagination span {
  font-weight: 500;
}
#pagination div {
  width: 20%;
}
#pagination div:nth-child(3) {
  text-align: right;
}
#pagination ul {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  padding: 0 var(--x-small-space);
  justify-content: center;
}
#pagination li {
  /*border: 1px solid var(--darker-gray);
  border-radius: var(--border-radius-round);
  padding: var(--xx-small-space);
  width: var(--normal-space);
  height: var(--normal-space);
  display: flex;
  justify-content: center;
  align-items: flex-end;*/
  margin: var(--x-small-space);
  cursor: pointer;
}
#pagination li:hover, #pagination li.active {
  text-decoration: underline;
}
#pagination li.active {
  cursor: auto;
}

#filter {
  margin: var(--small-space) 0;
  /*background-color: var(--darker-gray);
  color: var(--white);*/
}

@media screen and (max-width: 1366px) {
  #dtable th::before  {
    content: '';
  }
  #dtable th input {
    display: block;
    margin-left: 0;
  }
}