div(id="dtable")
  table
    //- caption Users table
    thead 
      th id
      th Name
      th Surname
      th Age
      th Email
      th Date
    tbody
  div(id="pagination")
    div Page #[span(id="page")] of #[span(id="pages")] pages 
    ul
    div Showing #[span(id="partial")] of #[span(id="total")] results
    