#breadcrumbs {
  display: block;
  border-bottom: 1px solid rgba(62, 120, 232, .2);
  text-align: center;
}

#breadcrumbs nav {
  display: inline-block;
}

#breadcrumbs span, #breadcrumbs a {
  font-weight: 500;
}

#breadcrumbs a:not(:first-child)::before {
  content: '\2192';
  vertical-align: text-bottom;
  margin: .2rem;
  color: var(--primary);
  font-size: var(--font-size-bigger);
}
#breadcrumbs a {
  color: var(--primary);
}
#breadcrumbs a[href] {
  color: var(--link);
}