#breadcrumbs {
  display: block;
  border-bottom: 1px solid rgba(62, 120, 232, 0.2);
  text-align: center;
}

#breadcrumbs nav {
  display: inline-block;
}

#breadcrumbs span, #breadcrumbs a {
  font-weight: 500;
}

#breadcrumbs a:not(:first-child)::before {
  content: '\2192';
  vertical-align: baseline;
  margin: 0.2rem;
  color: var(--primary);
}
#breadcrumbs a {
  color: var(--primary);
}
#breadcrumbs a[href] {
  color: var(--link);
}