#form #errors {
  border: 1px solid var(--red);
  padding: var(--small-space);
  margin: var(--gap);
  background-color: var(--rt);
}
#form #errors li {
  padding: var(--gap) 0;
}

#form .finput {
  width: 45%;
  margin-bottom: var(--gap);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#form label {
  min-width: 8rem;
}

#form fieldset:first-of-type{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#form fieldset {
  border: 1px solid var(--gray);
  padding: var(--small-space);
  margin: var(--gap);
}

.buttons {
  text-align: center;
}

#form input {
  border: 2px solid;
}
#form input:required:valid {
  border-color: var(--green);
}
#form input:invalid {
  border-color: var(--red);
}

/* Input text */
input[type=text], input[type=password], input[type=email], input[type=number] {
  padding: var(--gap);
  border-radius: var(--border-radius-small);
  min-width: var(--input-width);
}
input[type=number] {
  min-width: calc(var(--input-width) / 3);
}

/* Radio */
label[for*="radio"] {
  display:block;
  margin-bottom:4px;
  position: relative; /* to contain absolute elements */
  padding-left: 30px; /* free space for custom radio button */
  cursor: pointer;
  line-height: 21px;
}
/* hide default radio button  */
label[for*="radio"] input[type=radio] {
  position: absolute; /* prevent taking any space */
  /* cross-browser hiding */
  opactiy: 0;
  width:0; 
  height:0;
}
/* custom radio button */
label[for*="radio"] span {
  position: absolute;
  /* position to the free space in <label> */
  top:0;
  left:0;
  width:20px; 
  height:20px;
  background-color: var(--light-gray);
  border-radius: 50%;
  transition: .3s background-color; /* slight transition */
}
/* the check icon */
label[for*="radio"] span:after {
  content: "";
  position: absolute;
  display: none;
  
  /* middle */
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: var(--white);
  width:8px;
  height:8px;
  border-radius:50%;
}
label[for*="radio"]:hover span {
  background-color: var(--light-gray)
}

/**** Here's the trick ***/
label[for*="radio"] input:checked ~ span {
  background-color: var(--blue);
}
label[for*="radio"] input:checked ~ span:after {
  display:block;
}

/* Checkbox */
label[for*="checkbox"] {
  position: relative; /* to contain absolute elements */
  padding-left:30px; /* free space for custom checkbox */
  cursor: pointer;
  margin-bottom: 8px;
  line-height: 21px;
}
/* hide default checkbox  */
label[for*="checkbox"] input[type=checkbox] {
  position: absolute; /* prevent taking any space */
  /* cross-browser hidingg */
  opactiy: 0;
  width:0; 
  height:0;
}
/* custom checkbox */
label[for*="checkbox"] span {
  position: absolute;
  /* position to the free space in <label> */
  top:0;
  left:0;
  width:20px; 
  height:20px;
  background-color: var(--light-gray);
  transition: .3s background-color; /* slight transition */
  border-radius: var(--border-radius-small);
}
/* the check icon */
label[for*="checkbox"] span:after {
  content: "";
  position: absolute;
  display: none;
  
  /* check icon */
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
label[for*="checkbox"]:hover span {
  background-color: var(--light-gray);
}

/**** Here's the trick ***/
label[for*="checkbox"] input:checked ~ span {
  background-color: var(--blue);
}
label[for*="checkbox"] input:checked ~ span:after {
  display:block;
}


/* Select */
select {
  padding: var(--gap);
  margin-top: var(--gap);
  border-radius: var(--border-radius-small);
  min-width: var(--input-width);
  display: block;
}