#goto_top {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: var(--tertiary);
  color: var(--secondary);
  border-radius: var(--border-radius-small);
  padding: var(--x-small-space);
  margin: var(--small-space);
  cursor: pointer;
  font-size: var(--font-size-big);
  z-index: var(--gototop);
}
#goto_top:hover {
  filter: brightness(90%);
}
#goto_top.visible {
  display: block;
}