- 
  let links = [
    {
      name: 'Home',
      url: '/',
      class: 'icon-home'
    },
    {
      name: 'Users',
      url: '/users'
    },
    {
      name: 'Form',
      url: '/form'
    },
    {
      name: 'PLP',
      url: '/plp'
    },
    {
      name: 'Contacts',
      url: '/contacts'
    }
  ] 
span(class="hamburger icon-menu") 
nav(id="main-menu")
  span(class="close icon-close")
  ul
    each link in links
      li(class = (title === link.name) ? "active" : "")
        if link.class
          span(class=link.class)
        a(href=link.url, title=link.name) #{link.name.toUpperCase()}



  