- 
  let pages = [
    {
      name: 'Home',
      url: '/'
    },
    {
      name: 'Users',
      url: '/users'
    },
    {
      name: 'Privacy',
      url: '/privacy'
    },
    {
      name: 'Contatti',
      url: '/contatti'
    }
  ] 
i(class="icon-menu") 
nav(id="main-menu")
  ul
    each page in pages
      li
        a(href=page.url, title=page.name) #{page.name.toUpperCase()}



  