- 
  let links = [
    {
      name: 'Home',
      url: '/',
      class: 'icon-home'
    },
    {
      name: 'Users',
      url: '/users'
    },
    {
      name: 'Privacy',
      url: '/privacy'
    }
  ] 
i(class="icon-menu") 
nav(id="main-menu")
  ul
    each link in links
      li
        span(class=link.class)
        a(href=link.url, title=link.name) #{link.name.toUpperCase()}



  