#main-menu li {
  display: inline;
  padding-left: var(--large-space);
  font-weight: 500;
  color: var(--link);
}

#main-menu li.active {
  text-decoration: underline;
}

#main-menu li:hover {
  filter: brightness(90%);
}

.icon-menu {
  display: none;
  font-size: var(--font-size-huge);
}

@media screen and (max-width: 768px) {
  .icon-menu {
    display: block;
  }
  #main-menu {
    display: none;
    position: absolute;
    right: 0;
    bottom: var(--normal-space);
    height: 0;
  }
  #main-menu.show {
    display: block;
  }
  #main-menu ul {
    background-color: var(--darker-gray);
    padding: var(--normal-space) var(--normal-space);
  }
  #main-menu li:not(:last-child) {
    display: block;
    padding-bottom: var(--large-space);
  }
  #main-menu a {
    padding-left: 0;
  }
}

