header section {
  padding: var(--x-small-space) var(--view-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header section:nth-child(1) {
  background-color: var(--darker-gray);
}
header section:nth-child(2) {
  position: relative;
  border-bottom: 1px solid var(--blue);
}

#toggle-dark {
  cursor: pointer;
}
