header
  div
    i(id="toggle-dark", class="icon-adjust")
    include ./social-icons/social-icons.pug
  div 
    include ./main-logo/main-logo.pug
    include ./main-menu/main-menu.pug
  include ./breadcrumbs/breadcrumbs.pug
  