header > div {
  padding: var(--x-small-space) var(--view-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > div:nth-child(1) {
  /* background-color: var(--darker-gray); */
  border-bottom: 1px solid var(--bt);
}
header > div:nth-child(2) {
  position: relative;
  border-bottom: 1px solid var(--gray);
}

#toggle-dark {
  cursor: pointer;
}
#toggle-dark::after {
  content: "Darkmode";
  font-family: 'Montserrat', sans-serif;
  margin-left: var(--xx-small-space);
  vertical-align: text-bottom;
  font-size: var(--font-size-very-small);
  font-style: italic;
  color: var(--primary);
}
