extends ../layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content="")
  meta(name="keywords" content="")
  meta(name="robots" content="")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content="")
  meta(name="og:type" content="")
  meta(name="og:title" content="")
  meta(name="og:site_name" content="")
  meta(name="og:description" content="")
  meta(name="og:image" content="")

block main
  h1 #{title}
  p E' possibile contattarci per domande, informazioni o altre necessità attraverso i seguenti canali.
    h2 Tramite email
    p E' possibile raggiungerci a questo indirizzo: 
      a(href="mailto:info@tradingradar.net") info@tradingradar.net