.btn {
  border-radius: var(--border-radius-small);
  display: inline-block;
  margin: .5rem;
  text-decoration: none;
  font-weight: 550;
  background: var(--blue);
  padding: 0.7rem 2rem;
  color: var(--primary);
  cursor: pointer;
  border: 1px solid var(--darker-gray);
}
.btn:hover {
  filter: brightness(90%);
}

.btn.secondary {
  background: var(--secondary);
  color: var(--primary);
}

.btn.tertiary {
  background: transparent;
  color: var(--secondary);
  border-color: var(--light-gray);
}

.btn.disabled {
  pointer-events: none;
  cursor: default;
}