body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:0 0 1px transparent;
  text-rendering: optimizeLegibility;
  letter-spacing: .03rem;
  color: var(--primary);
  background-color: var(--secondary);
}

a {
  color: var(--blue);
  text-decoration: none;
}

main {
  height: 200rem;
}