@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icomoon/icomoon.eot?2vcfdy');
  src:  url('/assets/fonts/icomoon/icomoon.eot?2vcfdy#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon/icomoon.ttf?2vcfdy') format('truetype'),
    url('/assets/fonts/icomoon/icomoon.woff?2vcfdy') format('woff'),
    url('/assets/fonts/icomoon/icomoon.svg?2vcfdy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-shadow: 0px 0px 1px black;
}

.icon-menu:before {
  content: "\e901";
}
.icon-adjust:before {
  content: "\e903";
}
.icon-cheveron-up:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e904";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}