@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icomoon/icomoon.eot?2vcfdy');
  src:  url('/assets/fonts/icomoon/icomoon.eot?2vcfdy#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon/icomoon.ttf?2vcfdy') format('truetype'),
    url('/assets/fonts/icomoon/icomoon.woff?2vcfdy') format('woff'),
    url('/assets/fonts/icomoon/icomoon.svg?2vcfdy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e901";
}
.icon-adjust:before {
  content: "\e903";
}
.icon-cheveron-up:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e904";
}
.icon-quill:before {
  content: "\e907";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-bell:before {
  content: "\e951";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-target:before {
  content: "\e9b3";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-up-right:before {
  content: "\ea33";
}
.icon-arrow-down-right:before {
  content: "\ea35";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-paypal:before {
  content: "\ead8";
}