.img_icon::before {
  content: ' ';
  display: inline-block;
  width: var(--normal-space);
  height: var(--normal-space);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: var(--xx-small-space);
}
.logo::before {
  background-image: url('/assets/images/logo.png');
}
